block header
  header
    nav.navbar.navbar-default.navbar-fixed-top#header
      div.navbar-header
        a.navbar-toggle.collapsed(data-toggle='collapse' data-target='#navlinks')
          span.sr-only Toggle Navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand#headerTitle(href='/') OroArmor
      div.collapse.navbar-collapse#navlinks
        ul.nav.navbar-nav#nav-pages
          li
            a(href='/') Home
          //- li
          //-   a(href='/programming') Programming
          //- li
          //-   a(href='/music') Music
          li
            a(href='/mods') Mods
        // Social media
        ul.nav.navbar-nav.navbar-right.nav-pills#nav-social
          each account in socialMedia
            li
              if account.icon
                a(class=`fa fa-${account.icon} fa-2x header-icon` href=account.url target='_blank')
                  span.sr-only= account.service
              else
                a(class='header-logo' href=account.url target='_blank')
                  img.header-logo-img.img-responsive.lazy.center-block(data-original=`//${nconf.domain}/images/social/${account.logo}` src=`//${nconf.domain}/images/social/${account.logo}` alt=`${account.service}` title=`${account.service}`)
                  span.sr-only= account.service
