div.panel
  div.panel-heading
    div.panel-heading-header
      h3 Programming
    div.panel-heading-content
      ul#programming-content.drop-list
        each list in programming.lists
          li
            div.mod-info(id=`${list.name}`)
              h3.mod-title=`${list.name}`
              ul.list-inline.mod-hidden#programming-list
                each value in list.values
                  li.programming_lang
                    if(value.link != undefined)
                      a(href=`${value.link}` target=`_blank`)
                        if(value.icon != undefined)
                          i.programming(class=`lang-${value.icon}`)
                        else
                          p=`${value.name}`
                    else  
                      if value.icon != undefined
                        i.programming(class=`lang-${value.icon}`)
                      else
                        p.programming_name=`${value.name}`
  div.panel-body#programming-code-background
