extends layout.pug

append main
  div.container
    h1 Mods
    p I have created a couple minecraft mods to help improve your enjoyment of the game. Some of them add a bunch of content, like <em>Netherite Plus</em>, while others are client side improvements, like <em>Slime Block in Redstone Tab</em>. Most of my mods will try to keep a vanilla feeling, as I think that is the best way to enjoy the game. 

    each mod in mods
      div.panel.panel-default
        div.panel-heading
          h3 #[a(href=`${nconf.domain}/mods/${mod.id}`)=`${mod.name}`]
        div.panel-body
          div.col-md-7
            p=`${mod.extdesc}`
            p.no-margin Find on #[a(href=`${mod.links.curseforge}`) CurseForge]
            p Find on #[a(href=`${mod.links.github}`) GitHub]
          div.col-md-5
            center
              img.img.img-responsive(src=`//${nconf.domain}/images/mods/${mod.id}.png` alt=`${mod.name}` title=`${mod.name}` width="300px")
